body {
    background-image: url("../img/login-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

.col {
    color:red;
    font-weight: bold;
}

