body {
    background-image: url("../img/login-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


.card {
    background-color: rgba(0, 0, 0, 0.664) !important;
    
}

.titre-logo {
    color:rgb(250, 180, 63) !important;
}

.titre-page-connexion {
    color: white;
}

.monNavBar{
    background-color: rgba(0, 0, 0, 0.6) !important;
}

#errorMsg {
    color : rgb(255, 255, 255);
    margin-top:10px;
}

.border-red {
    border: 3px solid rgba(255, 0, 0, 0.822);
}


